.section-style,
.section-style-back {
  padding: 60px 0; }

.section-style-back {
  background-color: #F0F5F7; }

h2 {
  font-size: 50px;
  text-transform: capitalize;
  color: #212529;
  margin: 0;
  margin-bottom: 35px;
  font-weight: bold; }

p {
  color: #989898;
  text-transform: capitalize; }

.main-paragraph {
  margin: 25px 0;
  width: 80%;
  margin: 20px auto;
  font-size: 20px;
  line-height: 2; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2; }

.upperbar {
  background-color: #08526D;
  color: #FFFFFF;
  padding: 10px;
  color: #bfc6c9;
  text-transform: capitalize; }
  .upperbar .message {
    color: #FFFFFF; }
  .upperbar .quote {
    border: 1px solid #EC1C23;
    padding: 2px 10px;
    margin-left: 15px;
    display: inline-block; }

.navbar .navbar-brand span {
  text-transform: capitalize;
  font-size: 40px; }
  .navbar .navbar-brand span:first-child {
    color: #08526D;
    font-weight: bold; }
  .navbar .navbar-brand span:last-child {
    color: #EC1C23; }
.navbar .navbar-nav .active > .nav-link {
  color: #EC1C23; }
.navbar .navbar-nav .nav-item a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 15px; }

.slider .carousel .carousel-inner {
  display: flex;
  align-items: center; }
  .slider .carousel .carousel-inner h1 {
    color: #FFF;
    position: absolute;
    z-index: 3;
    text-transform: capitalize;
    left: 100px;
    font-size: 65px;
    line-height: 1.5; }
    .slider .carousel .carousel-inner h1 span {
      background-color: #EC1C23;
      padding: 0 10px; }
  .slider .carousel .carousel-inner .slider1 {
    background: url("../img/slider01.jpg");
    background-size: cover; }
  .slider .carousel .carousel-inner .slider2 {
    background: url("../img/slider02.jpg");
    background-size: cover; }
  .slider .carousel .carousel-inner .slider3 {
    background: url("../img/slider03.jpg");
    background-size: cover; }

.features i {
  background-color: #EC1C23;
  color: #FFFFFF;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #EC1C23;
  transition: all 0.3s ease-in-out; }
  .features i:hover {
    background-color: #FFFFFF;
    color: #EC1C23; }
.features h3 {
  color: #08526D;
  text-transform: capitalize; }
.features p {
  margin: 15px 0; }

.overview h4 {
  text-transform: capitalize;
  color: #8b8a8a;
  letter-spacing: 3px;
  margin-bottom: 40px; }
.overview button {
  background-color: #EC1C23;
  color: #FFFFFF;
  border: 2px solid #EC1C23;
  padding: 5px 40px;
  font-size: 20px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out; }
  .overview button:hover {
    background-color: transparent;
    color: #08526D;
    border: 2px solid #08526D;
    padding: 5px 40px;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out; }

.featured ul {
  margin-bottom: 50px; }
  .featured ul li {
    background-color: transparent;
    color: #08526D;
    border: 2px solid #08526D;
    padding: 5px 40px;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px; }
    .featured ul li.active, .featured ul li:hover {
      background-color: #EC1C23;
      color: #FFFFFF;
      border: 2px solid #EC1C23;
      padding: 5px 40px;
      font-size: 20px;
      text-transform: capitalize;
      transition: all 0.2s ease-in-out; }
.featured .images .row {
  margin: 0; }
  .featured .images .row .col-sm {
    padding: 0;
    transition: all 0.3s ease-in-out; }
    .featured .images .row .col-sm img {
      width: 100%; }

.latest-posts .card {
  margin-bottom: 20px; }
  .latest-posts .card .card-title {
    color: #08526D;
    font-size: 20px; }
  .latest-posts .card .card-subtitle {
    font-size: 16px;
    color: #868e96;
    margin: 10px 0; }
  .latest-posts .card .card-text {
    margin-bottom: 5px; }
  .latest-posts .card .card-link {
    color: #EC1C23;
    text-transform: capitalize;
    font-weight: bold; }

.testimonials {
  background: url("../img/testimonial.jpg");
  background-size: cover;
  position: relative;
  color: #FFFFFF; }
  .testimonials .container {
    position: relative;
    z-index: 3; }
    .testimonials .container .carousel-caption {
      top: 50%;
      margin-top: -150px; }
      .testimonials .container .carousel-caption h5 {
        text-transform: capitalize;
        font-size: 25px;
        margin: 20px 0 0;
        font-weight: bold; }
      .testimonials .container .carousel-caption span {
        text-transform: capitalize;
        font-size: 20px;
        margin-bottom: 20px;
        display: inline-block; }
      .testimonials .container .carousel-caption p {
        color: #FFFFFF; }

.pricing .card {
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 2s ease !important; }
  .pricing .card:hover {
    position: relative;
    top: -20px; }
    .pricing .card:hover .card-text {
      background-color: #EC1C23 !important;
      color: #FFFFFF !important; }
    .pricing .card:hover .card-link {
      background-color: #08526D !important;
      color: #FFFFFF !important;
      border-color: #08526D !important; }
  .pricing .card .card-body {
    padding: 0; }
    .pricing .card .card-body .card-title {
      margin-top: 40px;
      color: #08526D;
      text-transform: capitalize;
      font-size: 25px; }
    .pricing .card .card-body .card-subtitle {
      font-size: 16px;
      text-transform: capitalize;
      color: #868e96; }
    .pricing .card .card-body .card-text {
      background-color: #f7f7f7;
      color: #08526D;
      margin: 30px 0 10px;
      padding: 10px;
      font-size: 30px;
      font-weight: bold; }
      .pricing .card .card-body .card-text span {
        font-size: 16px; }
    .pricing .card .card-body .list-group-item {
      border: none;
      text-transform: capitalize; }
    .pricing .card .card-body .card-link {
      background-color: #EC1C23;
      color: #FFFFFF;
      border: 2px solid #EC1C23;
      padding: 5px 40px;
      font-size: 20px;
      text-transform: capitalize;
      transition: all 0.2s ease-in-out;
      display: inline-block;
      padding: 5px 15px;
      margin: 15px 0 30px; }
      .pricing .card .card-body .card-link:hover {
        background-color: transparent;
        color: #08526D;
        border: 2px solid #08526D;
        padding: 5px 40px;
        font-size: 20px;
        text-transform: capitalize;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        padding: 5px 15px; }

.choose .col-lg-6 {
  padding: 0; }
  .choose .col-lg-6 img {
    max-width: 100%; }
.choose .col-lg-6:last-child {
  background-color: #08526D;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 50px; }
  .choose .col-lg-6:last-child h2 {
    color: #FFFFFF;
    font-size: 40px; }
  .choose .col-lg-6:last-child p {
    color: #FFFFFF;
    line-height: 2;
    margin-bottom: 30px; }
  .choose .col-lg-6:last-child button {
    background-color: #EC1C23;
    color: #FFFFFF;
    border: 2px solid #EC1C23;
    padding: 5px 40px;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out; }
    .choose .col-lg-6:last-child button:hover {
      background-color: #FFFFFF;
      color: #EC1C23;
      border: 2px solid #EC1C23;
      padding: 5px 40px;
      font-size: 20px;
      text-transform: capitalize;
      transition: all 0.2s ease-in-out; }

.statistics {
  color: #08526D; }
  .statistics h3 {
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 50px; }
  .statistics p {
    color: #EC1C23;
    font-size: 20px; }

.contact {
  background-color: #EC1C23; }
  .contact p {
    margin: 0;
    color: #FFFFFF;
    font-size: 25px; }
  .contact button {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 5px 40px;
    font-size: 20px;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out; }
    .contact button:hover {
      background-color: #FFFFFF;
      color: #08526D;
      border: 2px solid #08526D;
      padding: 5px 40px;
      font-size: 20px;
      text-transform: capitalize;
      transition: all 0.2s ease-in-out; }

footer .info span:first-child {
  color: #08526D;
  font-weight: bold; }
footer .info span:last-child {
  color: #EC1C23; }
footer .info p {
  line-height: 2; }
footer .info a {
  color: #08526D;
  text-transform: capitalize;
  font-weight: bold; }
  footer .info a::before {
    font-family: 'font awesome 5 free';
    content: "\f138";
    margin-right: 5px; }
footer .helpful-links h2 {
  font-size: 30px;
  margin-bottom: 63px;
  color: #08526D; }
footer .helpful-links ul li {
  line-height: 1.5;
  text-transform: capitalize; }
  footer .helpful-links ul li i {
    margin-right: 5px;
    color: #08526D; }
footer .contacting h2 {
  font-size: 30px;
  margin-bottom: 63px;
  color: #08526D; }
footer .contacting li {
  margin-bottom: 23px; }

.copyright {
  padding: 20px 0;
  border-top: 1px solid #d6d6d6; }
  .copyright ul {
    margin: 0; }
    .copyright ul li {
      display: inline-block;
      margin-left: 20px;
      color: #777; }

/*# sourceMappingURL=main.css.map */
