// start framework

// start colors
$main-color : #EC1C23;
$second-color : #08526D;
$white-color : #FFFFFF;
$headings-color : #212529;
$paragraph-color : #989898;
$section-color : #F0F5F7;
// end colors

// start mixins
@mixin button ($background-color, $border-color, $color) {
  background-color: $background-color;
  color: $color;
  border: 2px solid $border-color;
  padding: 5px 40px;
  font-size: 20px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}
// end mixins

.section-style,
.section-style-back {
  padding: 60px 0;
}
.section-style-back {
  background-color: $section-color;
}
h2 {
  font-size: 50px;
  text-transform: capitalize;
  color: $headings-color;
  margin: 0;
  margin-bottom: 35px;
  font-weight: bold;
}
p {
  color: $paragraph-color;
  text-transform: capitalize;
}
.main-paragraph {
  margin: 25px 0;
  width: 80%;
  margin: 20px auto;
  font-size: 20px;
  line-height: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 2;
}
// end framework

// star upperbr
.upperbar {
  background-color: $second-color;
  color: $white-color;
  padding: 10px;
  color: #bfc6c9;
  text-transform: capitalize;
  .message {
    color: $white-color;
  }
  .quote {
    border: 1px solid $main-color;
    padding: 2px 10px;
    margin-left: 15px;
    display: inline-block;
  }
}
// end upperbar

// start navbar
.navbar {
  .navbar-brand {
    span {
      text-transform: capitalize;
      font-size: 40px;
      &:first-child {
        color: $second-color;
        font-weight: bold;
      }
      &:last-child {
        color: $main-color;
      }
    }
  }
  .navbar-nav {
    .active > .nav-link {
      color: $main-color;
    }
    .nav-item {
      a {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 15px;
      }
    }
  }
}
// end navbar

// start header
.slider {
  .carousel {
    .carousel-inner {
      display: flex;
      align-items: center;
      h1 {
        color: #FFF;
        position: absolute;
        z-index: 3;
        text-transform: capitalize;
        left: 100px;
        font-size: 65px;
        line-height: 1.5;
        span {
          background-color: $main-color;
          padding: 0 10px;
        }
      }
      .slider1 {
        background: url('../img/slider01.jpg');
        background-size: cover;
      }
      .slider2 {
        background: url('../img/slider02.jpg');
        background-size: cover;
      }
      .slider3 {
        background: url('../img/slider03.jpg');
        background-size: cover;
      }
    }
  }
}
// end header

// start features
.features {
  i {
    background-color: $main-color;
    color: $white-color;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid $main-color;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $white-color;
      color: $main-color;
    }
  }
  h3 {
    color: $second-color;
    text-transform: capitalize;
  }
  p {
    margin: 15px 0;
  }
}
// end features

// start overview
.overview {
  h4 {
    text-transform: capitalize;
    color: #8b8a8a;
    letter-spacing: 3px;
    margin-bottom: 40px
  }
  button {
    @include button($main-color, $main-color, $white-color);
    &:hover {
      @include button(transparent, $second-color, $second-color);
    }
  }
}
// end overview

// start featured work
.featured {
  ul {
    margin-bottom: 50px;
    li {
      @include button(transparent , $second-color, $second-color);
      &.active,
      &:hover {
        @include button($main-color , $main-color, $white-color);
      }
      cursor: pointer;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
  .images {
    .row {
      margin: 0;
      .col-sm {
        padding: 0;
        transition: all 0.3s ease-in-out;
        img {
          width: 100%;
        }
      }
    }
  }
}
// end featured work

// start latest posts
.latest-posts {
  .card {
    margin-bottom: 20px;
    .card-title {
      color: $second-color;
      font-size: 20px;
    }
    .card-subtitle {
      font-size: 16px;
      color: #868e96;
      margin: 10px 0;
    }
    .card-text {
      margin-bottom: 5px;
    }
    .card-link {
      color: $main-color;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}
// end latet posts

// start testimonials
.testimonials {
  background: url('../img/testimonial.jpg');
  background-size: cover;
  position: relative;
  color: $white-color;
  .container {
    position: relative;
    z-index: 3;
    .carousel-caption {
      top: 50%;
      margin-top: -150px;
      h5 {
        text-transform: capitalize;
        font-size: 25px;
        margin: 20px 0 0;
        font-weight: bold;
      }
      span {
        text-transform: capitalize;
        font-size: 20px;
        margin-bottom: 20px;
        display: inline-block;
      }
      p {
        color: $white-color;
      }
    }
  }
}
// end testimonials

// start pricing
.pricing {
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 2s ease !important;
    &:hover {
      position: relative;
      top: -20px;
      .card-text {
        background-color: $main-color !important;
        color: $white-color !important;
      }
      .card-link {
        background-color: $second-color !important;
        color: $white-color !important;
        border-color: $second-color !important;
      }
    }
    .card-body {
      padding: 0;
      .card-title {
        margin-top: 40px;
        color: $second-color;
        text-transform: capitalize;
        font-size: 25px;
      }
      .card-subtitle {
        font-size: 16px;
        text-transform: capitalize;
        color: #868e96;
      }
      .card-text {
        background-color: #f7f7f7;
        color: $second-color;
        margin: 30px 0 10px;
        padding: 10px;
        font-size: 30px;
        font-weight: bold;
        span {
          font-size: 16px;
        }
      }
      .list-group-item {
        border: none;
        text-transform: capitalize;
      }
      .card-link {
        @include button($main-color, $main-color, $white-color);
        display: inline-block;
        padding: 5px 15px;
        margin: 15px 0 30px;
        &:hover {
          @include button(transparent, $second-color, $second-color);
          display: inline-block;
          padding: 5px 15px;
        }
      }
    }
  }
}
// end pricing

// start choose us
.choose {
  .col-lg-6 {
    padding: 0;
    img {
      max-width: 100%;
    }
  }
  .col-lg-6:last-child {
    background-color: $second-color;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
    h2 {
      color: $white-color;
      font-size: 40px;
    }
    p {
      color: $white-color;
      line-height: 2;
      margin-bottom: 30px;
    }
    button {
      @include button($main-color, $main-color, $white-color);
      &:hover {
        @include button($white-color, $main-color, $main-color);
      }
    }
  }
}
// end choose us

// start statistics
.statistics {
  color: $second-color;
  h3 {
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 50px;
  }
  p {
    color: $main-color;
    font-size: 20px;
  }
}
// end statistics

// start contact
.contact {
  background-color: $main-color;
  p {
    margin: 0;
    color: $white-color;
    font-size: 25px;
  }
  button {
    @include button(transparent, $white-color, $white-color);
    &:hover {
      @include button($white-color, $second-color, $second-color);
    }
  }
}
// end contact

// start footer
footer {
  .info {
    span {
      &:first-child {
        color: $second-color;
        font-weight: bold;
      }
      &:last-child {
        color: $main-color;
      }
    }
    p {
      line-height: 2;
    }
    a {
      color: $second-color;
      text-transform: capitalize;
      font-weight: bold;
      &::before {
        font-family: 'font awesome 5 free';
        content: "\f138";
        margin-right: 5px;
      }
    }
  }
  .helpful-links {
    h2 {
      font-size: 30px;
      margin-bottom: 63px;
      color: $second-color;
    }
    ul {
      li {
        line-height: 1.5;
        text-transform:capitalize;
        i {
          margin-right: 5px;
          color: $second-color;
        }
      }
    }
  }
  .contacting {
    h2 {
      font-size: 30px;
      margin-bottom: 63px;
      color: $second-color;
    }
    li {
      margin-bottom: 23px;
    }
  }
}
.copyright {
  padding: 20px 0;
  border-top: 1px solid #d6d6d6;
  ul {
    margin: 0;
    li {
      display: inline-block;
      margin-left: 20px;
      color: #777;
    }
  }
}
// end footer
